[2019-10-16 18:45] saransh13 opened #6 "extension modules"
setup.py doesn't place extension modules (sglite and transforms in the hexrd3/hexrd/extensions folder. importing package fails when user is in the hexrd3 folder. Extension modules are in the build folder so works fine otherwise.

[2019-10-24 21:30] joelvbernier commented on #6
In general you shouldn’t run the package from inside the repository Because of the way import paths work in python. But I’ll look into making sure the Pats are set up correctly. When I have done my builds, the *.so seem to end up in the extensions folder.

[2020-02-02 22:18] psavery opened #10 "Add "psutil" to setup.py install_requires"
Looks like psutil is now used in hexrd [here](https://github.com/HEXRD/hexrd/blob/bc89b5d82d8409280e4039a2c1796021a5bbd174/hexrd/imageseries/stats.py#L7). Might be a good idea to add it to the list [here](https://github.com/HEXRD/hexrd/blob/bc89b5d82d8409280e4039a2c1796021a5bbd174/setup.py#L8-L11). I got import errors when I updated my local repository, before `pip install`ing `psutil`.

[code]

[2020-02-04 18:58] joelvbernier opened #11 "Need to reinstate HEDMInstrument init from single argument"
the direct init from the instrument YAML spec (not the experiment config) is a very useful feature, and I'd like to reinstate that in the case of a single positional argument.  You want to tackle this @donald-e-boyce, or should I?

[2020-02-04 19:01] donald-e-boyce commented on #11
Yes, I can do that. Marcus wanted that too since much of the GUI is based
on that model.

On Tue, Feb 4, 2020 at 1:59 PM Joel Bernier <notifications@github.com>
wrote:

[2020-02-04 19:11] joelvbernier commented on #11
yeah, I am writing a calibration script for CHESS right now, and it would make my life easier.  You should be able to copy the _init_ wholesale from master...  although I thought I say you modifying property initialization away from the _prop/@propery def prop(self): model?

[2020-02-18 11:57] psavery commented on #10
Looks like `psutil` was added as a dependency. Closing this issue.

[2020-02-18 11:57] #10 closed

[2020-03-31 16:04] joelvbernier opened #16 "Add config option to specify tThWidth attribute"
I'd like to add a hook in the materials block of the hedm config to specify (override) the `planeData.tThWidth` attribute on the specified object.  Default value in the config should be `null`, which would do nothing (_i.e._ just use what is specified in the saved material file).

[2020-04-05 18:43] donald-e-boyce commented on #16
I've fixed this in the instrument-package branch and pushed it up to my fork.

In the process, I discovered what appears to be a bug in the config.__init__() method when opening a file with multiple yaml documents. Instead of merging each new document with the previous merged document, it seems to merge the each new document with the original. Here is the code snippet. The merge should be with `re

[2020-05-25 15:17] psavery opened #18 "Two instrument.py files"
One [here](https://github.com/HEXRD/hexrd/blob/master/hexrd/instrument.py) and one [here](https://github.com/HEXRD/hexrd/blob/master/hexrd/instrument/instrument.py).

It looks like if I import `HEDMInstrument`, it imports the one inside `hexrd/instrument/instrument.py`. Is one of these `instrument.py` files destined for removal?

[code]

[2020-05-26 17:35] psavery commented on #11
I think I have implemented some of that in [this file](https://github.com/HEXRD/hexrdgui/pull/316/commits/4389150c3a06cf378fec386ac2c3a39f46894cb1#diff-6bec66f4ec6817fd88b4756dcb43ce3c) (part of hexrd/hexrdgui#316), by the way. Let me know if we should move (and possibly generalize) some of that into hexrd.

[2020-06-02 23:49] joelvbernier commented on #18
This was the result of a bad merge.  It has been fixed.

[2020-06-02 23:49] #18 closed

[2020-06-02 23:51] joelvbernier opened #20 "Setting __version__ in the main package"
We used to use versioneer, but I do not think that it is actively maintained anymore.  Need a new strategy.

[2020-06-03 00:02] joelvbernier commented on #11
This is currently working in master as of [v0.7.5](https://github.com/HEXRD/hexrd/releases/tag/v0.7.5).

[2020-06-03 00:02] #11 closed

[2020-06-05 20:14] cjh1 commented on #20
Fixed by #22

[2020-06-10 13:09] cjh1 opened #24 "Add license file with appropriate copyright"

[2020-06-16 18:00] joelvbernier opened #28 "Handling array-like panel buffers (masks) in instrument config write"
The current output method `instrument.HEDMInstrument().write_config()` is _not_ appropriate if the panel buffers are array-like.  There are two possible fixes, and perhaps we should implement both.
1. Add an HDF5 instrument config format, and store the buffer as a dataset (numpy ndarray)
2. In the case of array-like panel buffer, add a trigger in the YAML output to load buffer from a flat npy file

[2020-06-16 18:09] cjh1 commented on #28
If we go down the route of using HDF5 I would suggest that we keep the same yaml format and write the yaml file as a dataset inside the HDF5, rather than separating it out.

[2020-06-16 20:59] joelvbernier commented on #28
@donald-e-boyce -- I'm thinking in YAML context, we just add a trigger.  Then if the `panel_buffer` attribute has `ndim = 2`, it will trigger the `write_config` method to save an npy file for the buffer/mask and put a trigger in the corresponding section in the YAML file.  Then we modify the `__init__` method to handle the triggered load-from-file case.  SHhould be analogous to what you did in the

[2020-06-17 19:55] joelvbernier opened #29 "conda build is broken"
@cjh1 looks like the conda build is broken?  just tried the latest with a tag 0.7.11  (and v0.7.11) and got

[code]

[2020-06-17 20:05] cjh1 commented on #29
@joelvbernier I will take a look

[2020-06-17 20:06] joelvbernier commented on #29
Update -- deleted the local tags (the last tag was v0.7.10, but there are commits since then) and now the build works and gets number `hexrd-0.7.10-py38h39e3cac_14.tar.bz2`.  Any idea why the new tag barfed?  Should I keep the 'v' prefix?

[2020-06-17 20:07] joelvbernier commented on #29
command was `conda build conda.recipe/ --python=3.8`.  The last number signifies 14 commits since v0.7.10 tag?

[2020-06-17 20:07] cjh1 commented on #29
I will take a look at let you know ...

[2020-06-17 20:18] cjh1 commented on #29
This is fixed by #30, now that we are not using a prefix, don't remove it!

[2020-06-17 20:30] joelvbernier commented on #29
wait -- to be clear -- my tag '0.7.11' did not work, but 'v0.7.10' did.  So by "don't remove it" you mean keep the prefix?

[2020-06-17 20:31] cjh1 commented on #29
I mean the code shouldn't try to remove it! Don't add it :-) As in your next tag should be 0.7.11

[2020-06-17 20:36] joelvbernier commented on #29
That is the tag (0.7.11) that gave me the error in the first place though, and I am up to date.  See below:

[code]

[2020-06-17 20:40] cjh1 commented on #29
Are you running with my PR #30?

[2020-06-17 20:43] joelvbernier commented on #29
ah, no, only up to #22 -- but versioneer is gone and the build strings are sane with the existing tag prefix; so what does #30 change?  I am getting `hexrd-0.7.11-py38h39e3cac_0.tar.bz2` with tag `v0.7.11`, which is 'good' behavior.

[2020-06-17 20:48] cjh1 commented on #29
#30 stops us remove the first character of the version string. As you are now tagging correctly with ```0.7.11``` rather than ```v0.7.11```. Without #30 a tag of ```0.7.11``` would give a version of ```.7.11``` hence the error above.

[2020-06-17 20:53] joelvbernier commented on #29
merged #30

[2020-06-17 20:53] #29 closed

[2020-06-17 21:49] joelvbernier commented on #29
Works, sorry for the confusion.

[2020-06-18 20:47] donald-e-boyce commented on #28
To sort of answer your question, here is how the trigger worked in yaml.

[code]

If any string-valued item begins with "! ", then another function is called
to process that. This is how the original frame-cache metadata was written.
The actual frame data was in an npz, but the metadata was in a yaml.

On Tue, Jun 16, 2020 at 4:59 PM Joel Bernier <notifications@github.com>
wrote:

[2020-06-26 17:24] joelvbernier commented on #24
done in #36 -- although I may need to revisit the copyright.

[2020-06-26 17:24] #24 closed

[2020-06-29 18:14] psavery opened #39 "Multithread/multiprocess eta omega map generation"
I believe that is done in [hexrd.instrument.extract_polar_maps()](https://github.com/HEXRD/hexrd/blob/4ad3e965d55b5402f9c8f29549f8bc92fe48e7de/hexrd/instrument.py#L662-L664).

@cjh1

[2020-07-07 15:14] cjh1 commented on #20
This was resolved by #22

[2020-07-07 15:14] #20 closed

[2020-07-08 14:45] cjh1 opened #42 "Add basic CI tests"
We will run these in github actions. @joelvbernier  and @donald-e-boyce Are going to provide the scripts.

[2020-07-08 19:52] joelvbernier commented on #39
I tested it yesterday and seems kosher.  Will merge when confirmed!

[2020-07-08 19:53] joelvbernier commented on #28
I think that the YAML + trigger approach will be best for now.  @donald-e-boyce do you have the bandwidth to do this?

[2020-07-08 19:59] joelvbernier opened #43 "Add filtering option to ProcessedImageSeries"
@donald-e-boyce -- looks like it would be useful to add the option to run additional filtering on raw data, primarily convuloution with a [Laplacian of Gaussian filter](https://docs.scipy.org/doc/scipy/reference/generated/scipy.ndimage.gaussian_laplace.html).  We could add the option `'filter_gaussian_laplace'` and the arg would be the FWHM.  This could be really helpful for fine-grained data.  On

[2020-07-08 20:09] joelvbernier commented on #43
@donald-e-boyce : is there a way to do this with eh `addop` class method?  Before I start monkeying around in your code, I figured I would ask how best to add a new option...  :-)

[2020-07-08 20:47] donald-e-boyce commented on #43
The easiest way is to just write a function that does what you want and then use addop to add it to the imageseries. The function should take and image and options, e.g. f(img, opts). Then you can add it to the imageseries.

[code]

Then you can use it. I would suggest using this way until you're happy with it, and then we could make it built-in.

[2020-07-09 15:46] joelvbernier commented on #43
Ok; in the above ims is a `ProcessedImageSeries` instane, correct?

[2020-07-09 16:40] donald-e-boyce commented on #43
That's right.

On Thu, Jul 9, 2020 at 11:47 AM Joel Bernier <notifications@github.com>
wrote:

[2020-07-09 20:06] joelvbernier opened #45 "Add exception handling for length 0 imageseries"
@donald-e-boyce -- I noticed some time ago that exceptions don't get passed out for IOErrors inside imageseries.  Rather, you get an imageseries with length 0.  Can you catch this and raise a RuntimeError?

[2020-07-13 15:13] donald-e-boyce commented on #45
I am thinking the easiest thing to do is to modify imageseries.open() to
check for a length zero array.

I don't see where we catch any IOErrors, maybe fabio does something with
them. Is this just for the "image-files" format?

On Thu, Jul 9, 2020 at 4:06 PM Joel Bernier <notifications@github.com>
wrote:

[2020-07-14 15:23] donald-e-boyce commented on #45
See PR #49

[2020-07-14 19:55] joelvbernier commented on #45
I think this is unique to the image-
files adapter.

Sent from my iPhone

[2020-07-20 21:38] cjh1 opened #54 "Convolution lib no longer built"
The following commit:

commit 4680bdb44c087561823e82dde9c3cdeafbf7a9df
Author: Saransh <saransh1@llnl.gov>
Date:   Mon Oct 21 16:34:51 2019 -0700

    trimmed the EMsoft package by a fair amount. Still needs to be looked at more carefully.
    Using package model so each module can be imported.
    setup.py still needs to be made more general for everyone to use.

Removed our hexrd/extensions/__in

[2020-07-20 23:18] joelvbernier commented on #54
Think we (you) fixed this, yes @cjh1 ?

[2020-07-20 23:19] joelvbernier commented on #45
merged.

[2020-07-20 23:19] #45 closed

[2020-07-20 23:22] joelvbernier commented on #39
This was merged in #41,correct @cjh1 ?

[2020-07-20 23:31] cjh1 commented on #39
Yes

[2020-07-20 23:31] #39 closed

[2020-07-20 23:32] #54 closed

[2020-07-21 10:56] cjh1 commented on #42
Resolved by #47

[2020-07-21 10:56] #42 closed

[2020-07-24 18:41] joelvbernier opened #57 "Possible syntax error in imageseries"
Hey Don, just noticed this warning from imageseries -- looks like it probably should be using `!=`, yeah?
[code]

[2020-07-25 05:57] joelvbernier commented on #57
Thanks @donald-e-boyce, merged PR #58

[2020-07-25 05:57] #57 closed

[2020-07-25 05:58] joelvbernier commented on #6
@saransh13 looks like this is now obsolete... closing issue.

[2020-07-25 05:58] #6 closed

[2020-07-25 06:01] joelvbernier opened #60 "Make fast_histogram a requirement?"
Since it seems to perform so well and is currently maintained, perhaps we should make the [fast-histogram](https://github.com/astrofrog/fast-histogram) package an install requirement?

[2020-07-27 13:34] cjh1 commented on #60
I agree, I can take care of this.

[2020-07-31 20:24] cjh1 commented on #60
Fixed by #61

[2020-07-31 20:24] #60 closed

[2020-07-31 21:21] cjh1 commented on #28
YAML does actually support a binary type, this is probably the way to go. Otherwise we run into issues passing around the location of the instrument config so that we know where to load the npy file from. I will see how it performs.

[2020-07-31 22:47] cjh1 commented on #28
Scratch that, there is a restriction on the length :-1:

[2020-07-31 23:38] joelvbernier commented on #28
So that either leaves several choices:

1. the somewhat unsavory two-file option with a trigger to point to and load the .npy mask(s)
2. just proclude the `write_config()` method from appending an array_like mask (user can load it themselves later)
3. make an HDF5 format for the instrument config

Well, 2 is easiest...

[2020-08-01 00:30] cjh1 commented on #28
I will take a look another look at 1.

[2020-08-07 13:18] cjh1 opened #65 "Add CI for fit grains"

[2020-08-07 19:48] cjh1 commented on #65
@joelvbernier If you can provide the command line invocation and data, I can turn it into a CI test.

[2020-08-10 17:52] #28 closed

[2020-08-10 22:14] joelvbernier commented on #65
wokring on this right now...

[2020-08-10 23:14] joelvbernier commented on #65
@johnkit looks like we might have clobbered the output to grains.out for the fit-grains CLI entry point?

[2020-08-11 00:15] johnkit commented on #65
@joelvbernier not sure I follow. Do you mean that that fit-grains command overwrites the `grains.out` file previously generated by find-orientations? Yes that is how it works, but I think that's how it worked before the recent file I/O changes, no?

[2020-08-12 16:44] joelvbernier commented on #65
I just ran it and it did not write grains.out at all.

[2020-08-12 16:48] cjh1 commented on #65
@johnkit Can you take a look? @joelvbernier I assume you are on master?

[2020-08-12 17:29] johnkit commented on #65
@joelvbernier  here is my usual this test case:

[code]

The resulting output includes directory `results_mruby_composite_hexrd07_py38` with the grains.out file.

[code]

Are these the right steps? If so, can you duplicate this or give me a failing example?

[2020-08-12 19:58] joelvbernier commented on #65
@johnkit -- just did a fresh install and seems to be working.  sorry for the false alarm.  Back to the CI test...

[2020-08-13 18:56] joelvbernier commented on #65
Actually, edit on this.  It appears to *not* write a `grains.out` file if one doesn't exist in the working directory to begin with, which is very strange.  I realize that I need to fix the logic in `fitgrains.py`, because the fitting process  _doesn't_ strictly need a grains.out file to exist; it can create the initial guess from the `find-orientations` output (accepted_orientations*.dat).  Furthe

[2020-08-13 19:03] joelvbernier commented on #65
Confirmed that even with a `grains.out` file there, it is not updating it.  The reflection tables (`spots_XXXXX.out`) are, but not `grains.out`.  Running off of hexrd master.

[2020-08-13 19:37] johnkit commented on #65
@joelvbernier  I don't seem to be able to reproduce this. Are you using a dataset that you can send me?  I start with a clean hexrd-examples repo and run fit-grains like this:

[code]
A file is generated at 'results_mruby_composite_hexrd07_py38/grains.out` when find-orientations completes.

I just reran and, after the find-orientations part, I manually copied the grains.out file so that I can comp

[2020-08-13 19:37] joelvbernier opened #67 "Remove or reassign old entry point for GUI"
The CLI entry point for the GUI (`hexrd gui`) is still in the repo, but currently doesn't do anything.  We should probably map it to the `hexrdgui` executable, and have it raise an exception if not installed.  Thoughts @cjh1 and @johnkit ?

[2020-08-13 19:43] joelvbernier commented on #65
@johnkit I think I need to remove the generation of the `grains.out` from the find-orientations command, as it is confusing.  The unique output from that step is the `accepted_orientations` file.  Can you confirm that if you delete the grains.out after find-orientations runs that it writes a new one?

I also just realized that I am running on a folder that is in the cloud (iCloud service) and that

[2020-08-13 20:01] johnkit commented on #65
@joelvbernier I suppose iCloud could balk at overwriting the grains.out file, but you would think there would be some kind of warning/message.

I just ran this test from a clean hexrd-examples, deleting the grains.out file generated by find-orientations:

[code]
and fit-grains did write out the grains.out file (along with the other results).

[2020-08-13 20:22] cjh1 commented on #65
Just as another data point, I just ran with @johnkit 's instructions and also see the grains.out.

[2020-08-13 23:59] joelvbernier commented on #65
Ok -- so I am still seeing this issue, now in a different way.  I am running an example analysis on CHESS ([the single GE case](https://github.com/HEXRD/examples/blob/master/NIST_ruby/single_GE/include/ruby_config.yml)), which is a 6-document YAML config.  The grains.out gets written for the first, and none of the others.
[code]
Now this is a serial case.  For the multiprocessed case, the process

[2020-08-14 00:43] joelvbernier commented on #65
Also confirmed running the same problem of the commit bf2658443abe2f2d16f295207b44953ad2cb1ed5 prior to @johnkit's pr #62 that I get the proper output.  So something in pr #62 broke the "standard" ascii output in `hexrd fit-grains`.  I don't have time today to track it down, hopefully you can fix it tomorrow?
[code]

[2020-08-14 12:20] johnkit commented on #65
@joelvbernier looking into this now.

[2020-08-14 13:29] johnkit commented on #65
@joelvbernier  thanks the detailed example. We found the bug in cli/fit_grains.py and just merged https://github.com/HEXRD/hexrd/pull/69 with the fix. In brief, the code was overwriting the scan 0 grains.out file for each scan.

[2020-08-18 17:29] cjh1 commented on #67
@joelvbernier I can take a look at this.

[2020-08-18 19:26] cjh1 opened #71 "Look at optimizing overlay functions"

[2020-08-18 19:27] cjh1 opened #72 "Look at optimizing grain fitting routine"

[2020-08-19 19:56] cjh1 commented on #67
I think the best plan is just to remove the entry point entirely, I think keep the to separate makes the most sense. I will push PR that does this.

[2020-08-24 23:42] joelvbernier opened #77 "find-orientations CLI entry point is ignoring the speicifed working directory when writing output"
Looks like a simple fix [here](https://github.com/HEXRD/hexrd/blob/a51b1e4cb185f3b7c6bd1a58ef6a45acbe2a3322/hexrd/cli/find_orientations.py#L63).

[2020-08-25 00:17] joelvbernier opened #78 "VisibleDeprecationWarning in eta-ome map save method"
I get the following warning when executeing `hexrd find-orientations`
[code]
which is coming from hexrd.xrdutil.

[2020-08-25 00:43] #77 closed

[2020-08-25 00:43] #78 closed

[2020-08-25 01:10] joelvbernier opened #80 "Inconsistencies in how 'working_dir' is applied in HEDM config"
The 'working_dir' option in the HEDM config is a strange beast that is not oft employed.  It defaults to the [current working directory](https://github.com/HEXRD/hexrd/blob/4d488e4a4d9e73e20570913f26780a926835c0a4/hexrd/config/root.py#L128).  The inconsistencies arise in how various files are loaded.

- analysis dir -- prepends working_dir
- materials file -- prepends working_dir
- imageseries --

[2020-08-25 21:04] #67 closed

[2020-08-25 21:42] joelvbernier opened #81 "fit_grains broken for single grain case"
Likely loading initial parameters in without forcing ndmin=2

[2020-08-25 23:52] joelvbernier commented on #65
@cjh1  and @johnkit

Dropped a [package](https://drive.google.com/file/d/1UI1d2oAkKdUoY_86h86RI6_Dwcd3njAM/view?usp=sharing) up on the HEXRD shared drive that has a start for a CI test for `hexrd fit-grains`.  Not sure what you want it to return (currently just a boolean for pass/fail).  You can call the test inside the directory as follows:
[code]

[2020-08-26 00:07] #81 closed

[2020-08-26 00:08] joelvbernier commented on #65
not so fast -- the actual CI code still needs to be added!

[2020-08-27 16:31] cjh1 commented on #65
@joelvbernier Are the data files you upload available in our [examples repo](https://github.com/HEXRD/examples)? If not can we add them? I would like to keep all the data there is possible?

[2020-08-28 00:19] joelvbernier commented on #65
Yes, that data file is [here](https://github.com/HEXRD/examples/blob/master/NIST_ruby/single_GE/imageseries/RUBY_0000-fc_GE.npz).

[2020-09-01 14:37] cjh1 commented on #65
Excellent, thanks, I have made a start on this.

[2020-09-01 18:56] cjh1 opened #85 "Fabio install failing on Windows"
The fabio install has started to fail on windows!

https://github.com/HEXRD/hexrd/pull/84/checks?check_run_id=1057923634

I will take look at this.

[2020-09-01 21:29] #80 closed

[2020-09-01 21:34] joelvbernier opened #88 "Wiki documentation for HEDM config file"
@donald-e-boyce, we need to get a wiki started for the HEDM config.  This is something Paul is definitely going to want, ideally before we have our next beamtime.  If you can set up the skeleton, I can start talking about the details (mainly the find_orientaitons and fit_grains blocks).

[2020-09-02 01:38] cjh1 commented on #85
So after much digging, it turns out be an issue with the latest version of setuptools and numpy, [see this issue]( https://github.com/numpy/numpy/issues/17216) for more details! I have implemented  #89 as a workaround ...

[2020-09-02 01:50] cjh1 commented on #85
I have merged the fix into master, all effected PR, show rebase on master ( or merge master ).

[2020-09-02 01:50] #85 closed

[2020-09-02 17:37] cjh1 opened #91 "Clean up depreciation warnings"
The log below is from the CI test, woudl be nice to clean them up at some point.

[code]

[2020-09-04 17:36] cjh1 opened #94 "Error loading cif file"
[code]

[2020-09-04 17:39] psavery commented on #94
Note that this issue is part of PR #55

[2020-09-04 17:48] psavery commented on #94
This is fixed in #55

[2020-09-04 18:49] #94 closed

[2020-09-09 14:33] cjh1 opened #95 "Add reference instruments to resources"

[2020-09-09 17:58] joelvbernier commented on #95
linked the PR; will merge now.

[2020-09-09 17:58] #95 closed

[2020-09-09 18:00] cjh1 commented on #95
Thanks @joelvbernier

[2020-09-11 16:05] cjh1 opened #98 "Update WPPF to accept data directly rather than just filenames"
This is needed for HEXRDGUI integration

[2020-09-11 19:56] psavery opened #99 "Add "lmfit" to list of requirements"
[code]

[2020-09-12 00:23] saransh13 commented on #99
one thing I want to note here that `lmfit1.0.1` has some strange behavior where the least square minimization routines don't work as expected. `lmfit1.0.0` does not have those issues and should be preferred.

[2020-09-14 20:40] psavery opened #101 "Initialize WPPF phases and materials from Material object"
#100 is a nice improvement, and we can now initialize most of the WPPF classes with data rather than file names.

Although we can now initialize the phases with a phase object directly (as is done [here](https://github.com/HEXRD/hexrd/commit/3aa726ab40f13c18b0621784464cca1fa33fb706#diff-c142f9d2dde3f2f20b5a293b8380cf5fR1495-R1499)), these phase objects and their material objects require a material

[2020-09-14 21:07] saransh13 commented on #101
I can edit the WPPF to also accept a list of material objects. Would that be acceptable?

[2020-09-14 21:09] psavery commented on #101
Yep! I think that would be good! If they are [`hexrd.material.Material`](https://github.com/HEXRD/hexrd/blob/3aa726ab40f13c18b0621784464cca1fa33fb706/hexrd/material.py#L76) objects.

[2020-09-14 21:22] saransh13 commented on #101
The `WPPF.Materials_LeBail` is just a stripped down version of the `materials.Materials` class. This is done to keep the class lightweight. The spectrum fitting can be computationally heavy and this leads to a considerable speedup. So my plan is to take the information from `materials.Materials` class and just initialize the `WPPF.Materials_LeBail` and eventually the `WPPF.Phases_LeBail` class.

[2020-09-16 20:55] joelvbernier opened #106 "CIF import KeyError"
Getting the following when inputting the attached CIF (below).  @saransh13 thoughts?

[code]

[code]

[2020-09-16 20:57] #101 closed

[2020-09-16 21:16] saransh13 commented on #106
Its because there are no spaces between 'Fm3m'. I can push a fix.
God, I hate CIF!

[2020-09-17 20:20] #106 closed

[2020-09-18 13:42] #99 closed

[2020-09-21 16:48] jj-umn opened #110 "https://anaconda.org/HEXRD/hexrd missing fabio as a requirement"
~/miniconda3/bin/conda create --debug -y --quiet --override-channels --channel iuc --channel conda-forge --channel bioconda --channel defaults --channel hexrd --name __hexrd@0.7.11 hexrd=0.7.11

hexrd --help
...
  File "/Users/jj/miniconda3/envs/__hexrd@0.7.11/lib/python3.8/site-packages/hexrd/imageseries/load/imagefiles.py", line 15, in <module>
    import fabio
ModuleNotFoundError: No module nam

[2020-09-21 16:52] cjh1 commented on #110
Thanks @jj-umn for reporting this, we will update the recipe to include fabio.

[2020-09-21 19:30] cjh1 commented on #110
@jj-umn This is now fixed in master. If you install using the prerelease channel `hexrd/label/hexrd-prerelease` you can pick up the change.

[2020-09-22 18:10] psavery opened #112 "Add pycifrw to conda requirements"
It's currently a requirement in the setup.py [here](https://github.com/HEXRD/hexrd/blob/700d4aea98621e017bf2bea3c5110faa59b4ef0a/setup.py#L15).

I think we need to add it [here](https://github.com/HEXRD/hexrd/blob/700d4aea98621e017bf2bea3c5110faa59b4ef0a/conda.recipe/meta.yaml#L24) also.

[2020-09-23 18:45] cjh1 commented on #112
Fixed in #113

[2020-09-23 18:45] #112 closed

[2020-09-24 16:31] joelvbernier commented on #110
Thanks for spotting this @jj-umn -- we are compiling tutorial resources presently in order to put together serveral workflow demos.  If I might ask, is you interest primarily 3DXRD/HEDM, powder diffraction, Laue, or general?

[2020-09-24 16:34] joelvbernier commented on #91
Will handle the matrixutil issues -- we can raise the skimage one on their org.

[2020-09-24 17:15] jj-umn commented on #110
@joelvbernier   I'm  helping with a NSF grant project (AWARD:11140-VINALS-NSF-CON000000087734-3002)  for building a gateway server using the galaxy framework to analyze HEDM data.  The plan is to develop galaxy workflows for the Cornell High Energy Synchrotron Source '[CHESS](https://www.chess.cornell.edu)' pipeline.

The Galaxy framework ( [https://galaxyproject.org](https://galaxyproject.org)  [

[2020-09-24 19:03] #91 closed

[2020-09-25 01:01] saransh13 opened #120 "scattering factors for ions"
scattering factors for ions are not present in `hexrd`

[2020-09-29 18:05] saransh13 opened #124 "Material lattice parameter setter"
The lattice parameter for the material class expects a reduced set of lattice parameters. However, WPPF passes on the full six lattice parameters.

[2020-09-29 21:17] saransh13 commented on #124
closed via #125

[2020-09-29 21:17] #124 closed

[2020-10-01 07:05] #110 closed

[2020-10-07 17:19] joelvbernier opened #128 "Issues with fabio TiffIO"
I am regularly running into problems where fabio's TiffIO fails to load tiffs that other IO packages have no issue with (_e.g._, `imageio.imread`).  I've attached a zip file with a PXRDIP example that fails in fabio.  These tiffs were saved from ImageJ on Windows 10, so should be fine.  I've also had similar warnings/errors from TiffIO for HEDM data.  I have put an issue on silx-kit/fabio; we'll s

[2020-10-07 17:20] joelvbernier commented on #120
Just checking on this.  Where you at @saransh13 ?

[2020-10-08 06:52] joelvbernier opened #129 "WPPF errors"
Looks like WPPF is refining a lattice parameter even when I check the "vary" box off.  You should check how the flags are being captured by the GUI (may need an issue there).

[2020-10-08 18:20] joelvbernier opened #130 "feature branch cleanup"
@cjh1, @psavery, @johnkit, and @saransh13 -- can you take a look at any old feature branches of yours to prune off of hexrd?  We've accumulated quite a few!

[2020-10-08 18:22] cjh1 commented on #130
Done on my end

[2020-10-08 20:25] saransh13 commented on #130
I just have one. Still ned to finish some work before merging it.

[2020-10-08 20:27] joelvbernier commented on #130
Yeah, this is only for stale branches.

[2020-10-30 22:32] saransh13 opened #133 "Compilation error"
There is some error in the `hexrd` installation. Not sure where this is originating. The installation goes fine on my Mac.

`gcc -Wno-unused-result -Wsign-compare -Wunreachable-code -DNDEBUG -g -fwrapv -O3 -Wall -I/usr/local/opt/sqlite/include -I/usr/local/opt/sqlite/include -I/Users/runner/hostedtoolcache/Python/3.8.6/x64/include/python3.8 -c src/lib/lex.yy.c -o build/temp.macosx-10.14-x86_64-3.8

[2020-11-02 14:56] cjh1 commented on #133
This is on linux?

[2020-11-02 18:22] saransh13 commented on #133
On Mac. Error is from continuous integration.

[2020-11-02 18:23] cjh1 commented on #133
OK, thanks, I can take a look.

[2020-11-09 18:01] #133 closed

[2020-11-09 20:46] psavery opened #136 "Save and load stiffness tensor"
When [loading a material from a file](https://github.com/HEXRD/hexrd/blob/0c3c2a76d2a72126273430eb0db76837bdebd8c4/hexrd/material.py#L411-L465), check for and read in the stiffness tensor.

When [writing a material to a file](https://github.com/HEXRD/hexrd/blob/0c3c2a76d2a72126273430eb0db76837bdebd8c4/hexrd/material.py#L467-L492), save the stiffness tensor.

These are needed for hexrd/hexrdgui#655

[2020-12-08 22:54] joelvbernier opened #139 "CLI load of material not updated to HDF5"

[2021-01-06 18:48] joelvbernier commented on #136
@saransh13 -- this looks to be a fairly high priority; can you knock this out by the end of the week?

[2021-01-06 18:49] joelvbernier opened #143 "Need to add lmfit dependency"
conda-build is currently failing on master.  One reason is lmfit; seems like this is a hard req now.  Is there a specific version/channel we need to pin to @saransh13?

[2021-01-07 00:29] saransh13 commented on #136
Ok, on it. Will make a PR soon.

[2021-01-07 05:13] #130 closed

[2021-01-07 05:14] joelvbernier commented on #128
Seems like this is fixed in fabio >= 0.10; closing.

[2021-01-07 05:14] #128 closed

[2021-01-12 18:15] joelvbernier commented on #143
Nudging you @cjh1 and @saransh13 ...

[2021-01-12 18:18] cjh1 commented on #143
I will take care of this.

[2021-01-13 17:55] joelvbernier commented on #143
Thanks @cjh1

[2021-01-19 21:53] joelvbernier commented on #129
@saransh13 did this get fixed?  If so, which PR?

[2021-01-19 22:41] saransh13 commented on #129
Don't think this has been fixed yet. I'm looking into it.

[2021-01-20 18:05] joelvbernier opened #154 "problem in material default values"
@saransh13 -- getting a `AttributeError` when attempting to use the `material.load_materials_hdf5` method.  Looks like the default value for the `kev` kwarg is a float instead of a `valWUnits` instance?  This seems to be a fairly pervasive problem, so we may need to take a look at catching all the parameters you intend to be `valWUnits` in the `__init__()` method and the various property getters/s

[2021-01-20 18:25] joelvbernier commented on #154
I'll add that when attempting to feed through floats in material, it should be assumed the units are
- radians for angles
- kev for energy
- &#8491;ngstroms for lengths
Of course, we should reflect this in the documentation.

[2021-01-20 19:01] joelvbernier commented on #154
Looks like same goes for `dmin` kwarg...

[2021-01-21 08:08] joelvbernier opened #155 "Warning running find-orientations and fit-grains on Windows"
I am getting the following during both the fiber generation, the orientation scoring, and grain fitting -- all using `map`:
[code]
Thoughts @psavery and/or @cjh1?

[2021-01-21 13:37] cjh1 commented on #143
Closing this, should now be included.

[2021-01-21 13:37] #143 closed

[2021-01-21 13:40] cjh1 commented on #155
I think removing [this](https://github.com/HEXRD/hexrd/blob/master/hexrd/cli/__init__.py#L11) line will resolve it.

[2021-01-21 13:58] cjh1 commented on #155
I don't see this warning when running the hexrd cli on Windows from a conda install. When are you seeing this?

[2021-01-27 20:35] joelvbernier commented on #155
conda package install on Windows 10 as well.  @donald-e-boyce, do you think that we can safely remove [this](https://github.com/HEXRD/hexrd/blob/master/hexrd/cli/__init__.py#L11) line?

[2021-01-27 20:35] joelvbernier commented on #129
Nudging you on this @saransh13

[2021-01-27 20:47] donald-e-boyce commented on #155
I think you can safely remove it.

On Wed, Jan 27, 2021 at 3:35 PM Joel Bernier <notifications@github.com>
wrote:

[2021-02-01 21:49] cjh1 commented on #155
@joelvbernier I am still not see this even with hexrd installed with pip. What is the hexrd invocation you are using?

[2021-02-02 18:27] joelvbernier opened #166 "Restore "--version, -v" to hexrd CLI"
Not sure when this got dropped; @cjh1 can you reinstate/add this CLI flag?  Did this get killed when we dropped versioneer?

[2021-02-02 19:43] joelvbernier opened #167 "Capture logging output to dialog"
We need to capture the logging output for the CLI workflow to a dialog, or otherwise make modifications so that we can expose computation status in the GUI.

[2021-02-02 19:45] joelvbernier opened #168 "Calibrated cursor readout in raw view"
We should provide calibrated cursor output in the raw view as well (noticed that it is only providing x, y, value).  The cursor output should be the same as the cartesian view.

[2021-02-02 20:43] joelvbernier commented on #155
@cjh1 -- running the CLI from a local install in dev mode on Windows 10 (Anaconda Powershell).  Each process echos back the warning.

[2021-02-02 21:53] joelvbernier opened #169 "HDF5 output for HEDMInstrument.pull_spots() is not working"
This seems to be something that got broken moving from Python2.7 to Python3.  I am seeing a `TypeError` coming from the utility func `instrument.unwrap_dict_to_h5()`.  Looks like a unicode string type might be responsible?  Can you help with this @donald-e-boyce or @psavery?

[code]

[2021-02-02 22:04] cjh1 commented on #155
So you get it if you run just `hexrd --help`?

[2021-02-02 22:18] joelvbernier commented on #169
Looks like it is related to [this](https://docs.h5py.org/en/stable/strings.html#what-about-numpy-s-u-type).  Catch and convert in-line?

[2021-02-03 04:11] psavery commented on #168
This is fixed by hexrd/hexrdgui#733

[2021-02-03 04:28] psavery commented on #169
Yeah, it looks like `<U*` is numpy's wide character type. h5py says that hdf5 does not support wide characters, so they don't either.

Maybe right before the dataset gets created, we can add a check like this?

[code]

Or if another type is better, we can convert it to that as well.

Let me know if that works, @joelvbernier. If not, maybe we can get an example to try?

[2021-02-03 07:48] #168 closed

[2021-02-03 08:56] joelvbernier commented on #169
I think I fixed it in #171 -- was able to dump the HDF5 tables again.  Closing :-)

[2021-02-03 08:56] #169 closed

[2021-02-03 09:33] joelvbernier opened #172 "Need mechanism for saving PlaneData exclusions to new material"
In analyzing HEDM data from the most recent APS run, I am running into the need to save the exclusions (or "valid hkls" if you will) for the reflections lists on a material.  Currently, the objects are instantiated from the data stored in the hdf5 file upon load, and there is no mechanism for specifying a user-specified list of reflections to use.  For the most generality, we can probably store a

[2021-02-04 17:42] joelvbernier commented on #172
@saransh13 -- I think it is probably best to just store PlaneData.hkls upon save.  It is already filtered by exclusions.  Then upon load, if there is an "active_hkls" list specified in the HDF5 archive, then it matches the stored hkls to the generated ones to set exclusions on the new instance of PlaneData.  Capice?

[2021-02-12 15:41] hsheng94 opened #176 "error starting hexrd gui"
I just installed hexrd on my mac and the version is hexrd                     0.7.10          py38h39e3cac_14 . I wanted to start hexrd gui but got the following message. I installed through conda but seem some packages are missing. Could you help check what other dependencies I need to install? Thanks!

\$ hexrd gui
Traceback (most recent call last):
  File "/Users/hao_sheng/anaconda/envs/hexrd20

[2021-02-12 15:49] cjh1 commented on #176
Hi @hsheng94, Did you follow [these](https://github.com/HEXRD/hexrdgui/blob/master/README.md) instructions? For a conda install you need to run the following:

[code]

Let us know if that works for you.

[2021-02-12 21:51] #172 closed

[2021-02-16 19:07] psavery commented on #136
@saransh13 Is this ready to close?

[2021-02-17 02:03] saransh13 commented on #136
Yep, this can be closed.

[2021-02-17 02:04] #136 closed

[2021-02-17 22:26] minety opened #178 "How to convert .ge3 ff HEDM data (APS) to H5/HDF5 files which can be imported by hexrd"
Hi,

We just finished some in situ ff HEDM experiments at APS sector-1.

But having problems of import ff data, I was using the instruction&scripts created by CHESS where they are using .h5 data format as input.

It would be very appreciated that you could help me out.

Thanks,

Tian

[2021-02-18 18:32] joelvbernier commented on #178
There are example archiving scripts on Orthros from our recent PUP run here: /clhome/sec1afpup/AFRL/PUP_AFRL_Feb21/run_archiving.py

As far as importing the ge files, there are two options:

1. The GUI can load them directly and you can export an HDF5 or npz style imageseries (good for first look, initial state, but not for batch)
2. using a batch script like my example, which makes use of the gen

[2021-02-18 19:03] joelvbernier commented on #176
A few notes:

First, that is a very old conda package at this point.  I would recommend building from the latest conda package using the `prerelease` label as documented https://github.com/HEXRD/hexrdgui#conda-prerelease.  Alternatively, you can download and install the conda packages for [hexrd](https://anaconda.org/HEXRD/hexrd/files)and [hexrdgui](https://anaconda.org/HEXRD/hexrdgui/files) direc

[2021-02-18 19:06] joelvbernier commented on #178
Here is an example of the YAML file that can be used to load an imageseries for ge3:
[code]

[2021-02-18 19:11] psavery opened #180 "Consider adding pyproject.toml file"
We can use pyproject.toml to specify which dependencies need to be installed before `setup.py` is ran. It could look like this, for instance:

[code]

This would reduce the development install instructions from this:
[code]

to this:
[code]

Thoughts? @cjh1 @joelvbernier

[2021-02-18 19:17] joelvbernier commented on #178
Attached are the files used for archiving data at 1-ID.  There are specific paths that must be modified for each experiment.  The fastpar log file parser comes from `aps.py` and grabs scan parameters from the SPEC output.  I can help you modify it for your run if you are having trouble.

[run_archiving_APS.zip](https://github.com/HEXRD/hexrd/files/6005264/run_archiving_APS.zip)

[2021-02-18 20:11] joelvbernier commented on #180
I am game for _ANYTHING_ that helps users get going!

[2021-02-19 17:37] joelvbernier commented on #180
Can this be done in a platform-specific manner?  We *_NEED_* this

[2021-02-19 18:13] psavery commented on #180
@joelvbernier Yep! I think this should work for all platforms. I'll put together a PR...

[2021-02-23 17:48] #180 closed

[2021-02-24 17:57] joelvbernier opened #184 "Update README with current build instructions"
Can I task one of you @cjh1 or @psavery to update the README with the current installation (and development installation) instructions?  Also, are `setup.py` and `conda.recipe/meta.yaml` consistent?

[2021-02-26 18:48] psavery opened #188 "Ensure `active_hkls` indices are used on filtered hkls"
@joelvbernier I'm just making a note here so we don't forget it.

"filtered hkls" here means hkls where exclusions and tThMax were applied to remove hkls.

The `active_hkls` indices are used to index into a list of filtered hkls. But there is at least one place
where it looks like `active_hkls` are indexing into a list of unfiltered hkls:

https://github.com/HEXRD/hexrd/blob/e9b01fa682ae5b5fefb4c5

[2021-03-04 23:43] joelvbernier commented on #188
setting `PlaneData.tThMax` does modify exclusions.

[2021-03-04 23:57] joelvbernier commented on #178
@minety -- there is a PR staged that will greatly simplify the import of raw images to imageseries, and batch export as well.  Keep on the lookout for the 0.8.2 release (hopefully tomorrow).

[2021-03-05 07:44] minety commented on #178
@joelvbernier Thanks, looking forward to it. Is there going to be an instruction on how to use it?

[2021-03-06 03:10] minety commented on #178
I got the following error when I ran the run_archiving.py with our HPC. What could be the reason?

RemoteTraceback                           Traceback (most recent call last)
RemoteTraceback:
"""
Traceback (most recent call last):
  File "/****/lib/python3.8/multiprocessing/pool.py", line 125, in worker
    result = (True, func(*args, **kwds))
  File "/****/.conda/envs/hexrd_37/lib/python3.8/multi

[2021-03-10 23:19] psavery opened #205 "Modifying Material sgnum doesn't update affected lattice parameters"
This was mentioned first in https://github.com/HEXRD/hexrdgui/issues/767#issue-815874490

Note the following test:
[code]

Output:
[code]

You can see that even though the space group number was changed to 165 (a trigonal lattice type), the
angles all still remain 90, when the third angle should be 120. It looks like lattice parameters are not
updating when the space group number changes, and it i

[2021-03-10 23:31] saransh13 commented on #205
Ok, I'm going to push a fix for this. Thanks for catching this @psavery

[2021-03-11 18:22] joelvbernier commented on #178
@minety it looks like you may have the wrong version of Fabio installed?  Can you do the following:
[code]
and share the result with me?

[2021-03-11 18:23] joelvbernier commented on #178
Also could be a problem with the path;  can you tell me the absolute path to the images and share one of the `raw_*.yml` files?

[2021-03-11 18:26] joelvbernier commented on #205
I thought we had an issue for this already @saransh13?

[2021-03-11 18:28] joelvbernier commented on #205
Yes, it is on hexrdgui: https://github.com/HEXRD/hexrdgui/issues/767

[2021-03-11 18:29] joelvbernier commented on #205
Is there a way to link issues across repos @psavery or @cjh1?

[2021-03-11 18:31] joelvbernier commented on #205
Adding a ref to this issue in the assoc hexrdgui one for now (comments).

[2021-03-11 18:34] cjh1 commented on #205
Yes, that is the closes you can do.

[2021-03-11 18:49] joelvbernier commented on #205
added comments to HEXRD/hexrdgui#767

[2021-03-11 19:38] saransh13 commented on #205
Ok I think I've figured this one out. PR coming soon.

[2021-03-11 23:29] psavery commented on #205
This was fixed by #207

[2021-03-11 23:29] #205 closed

[2021-03-15 03:44] minety commented on #178
Thanks for your suggestion, it is the fabio version problem (I had a 0.10 version before).

[2021-03-15 19:34] psavery opened #212 "Ruby "c" is getting reset"
Using [materials.h5 from hexrdgui](https://github.com/HEXRD/hexrdgui/blob/cc3bb73c0f3a8a96d675da97a6cc53b1da5ff647/hexrd/ui/resources/materials/materials.h5).

[code]

[2021-03-15 19:47] psavery commented on #212
@saransh13 Looks like it is getting modified [here](https://github.com/HEXRD/hexrd/blob/ba84bf71c888d021504db828e23be034440d06e5/hexrd/material.py#L202).

Here is an example:
[code]

[2021-03-15 20:52] #212 closed

[2021-03-15 21:07] joelvbernier opened #214 "Unit testing of materials package"
Given the critical functionality of the materials package, it is time that we add some basic unit tests to help prevent bad bugs from being merged into master.  For starters I suggest the following:

- [ ] for the reference materials, compare the data in the HDF5 to what gets instantiated in moth the `unitcell` and `PlaneData` classes, including
- cross-check of lattice parameters
- cross check of

[2021-03-15 22:05] psavery commented on #214
If we add a script to the [tests directory](https://github.com/HEXRD/hexrd/tree/master/tests), it should be automatically included when github CI performs the testing. I can help you guys set that up if you'd like.

[2021-03-15 23:16] psavery commented on #214
So, if I'm recalling things correctly, pytest will import the scripts in that directory and automatically look for functions that start with `test_`. It assumes those are test functions, and it tries to run them.

There are some other things such as pytest fixtures that are used to make things easier.

[2021-03-16 04:42] joelvbernier opened #217 "material.Material class internal updates still broken"
The following code snippet illustrates the issue.  Fundamentally, if I change the `sgnum` on the default material (say to quickly make an HCP material), then update the `latticeParameters` object, the `planeData` object is not getting updated.  However, if I re-assign the `sgnum`, it looks to be properly updated.  Seems that the issue is that updating `Material.latticeParameters` is not triggering

[2021-03-17 03:53] psavery opened #225 "Consider modifying the number of default exclusions for materials"
Should we consider increasing the number of default exclusions for materials?

For instance, for ruby from hexrdgui:
[code]

Results in:
![image](https://user-images.githubusercontent.com/9558430/111412141-d66d1480-86a9-11eb-87dc-a1d506f8612b.png)

in hexrdgui, at program start-up (if ruby powder overlays are visible).

This is particularly painful if you try to run something like generating eta o

[2021-03-17 05:23] joelvbernier commented on #225
I'd say if the default should be all excluded but the first 5 reflections.  The exclusions set technically _can_ be preserved unless the space group is changed (in general).

[2021-03-24 02:04] minety opened #238 "Workflow of ff-HEDM analysis based on .npz (converted from .ge3, #178) files collected from APS sector 1"
Hi,

I really appreciate the hard work you put into this python3 version of hexrd.

However, I found it really hard for me to proceed with ff-HEDM analysis.

Could you please help me with some example .yaml input files (APS sector 1 RAMS system) and commands? I only need the output of center-of-mass position, orientation and strain tensors by using findorientations.py and fitgrains.py. I also got

[2021-03-24 04:54] joelvbernier commented on #238
Absolutely -- we just tagged new "official" releases for hexrd and hexrdgui, and you can actually do the full ff-HEDM analysis in the GUI.  I think this is a good way to understand the config file that can be used for batch analysis in the CLI.  I will be posting some short videos to the hexrd youtube page, and I'll let you know here when they are live, ok?

[2021-03-24 05:02] minety commented on #238
Thank you, looking forward to the videos.

[2021-03-24 05:06] joelvbernier opened #239 "Need to add HDF5 format for instrument config"
This is necessary (or another non-yaml format) in cases where detector panel buffers are arrays; these *DO NOT* play well with yaml!  We can do something really simple like what is done in `instrument.GrainDataWriter_h5`
[code]
There are a few issues to address first:

- [x] if dumping to yaml format, panel buffers must be removed (or set to [0., 0.]) in `HEDMInstrument.write_config()`
- [x] if du

[2021-03-24 05:09] joelvbernier commented on #239
@cjh1 -- I want this to replace the directory-style config I/O

[2021-03-24 05:46] joelvbernier commented on #238
FYI -- the latest conda packages are ready, but if you are looking for the corresponding binaries for the GUI, they won't be up until sometime tomorrow (they need to be notarized and manually attached).

[2021-03-24 17:35] joelvbernier commented on #188
@psavery -- I just wanted to follow up on this.  Did we resolve this?

[2021-03-24 17:35] joelvbernier commented on #184
done.

[2021-03-24 17:35] #184 closed

[2021-03-24 17:36] joelvbernier commented on #176
@hsheng94 -- were you able to resolve your problem?

[2021-03-24 17:38] joelvbernier commented on #166
@cjh1 -- can you help resolve this?  Probably need to modify the `init.py` in the hexrd package?

[2021-03-24 17:45] joelvbernier opened #240 "Design new calibration package"
- [ ] need the fundamental `Calibrator` class
- [ ] specific instances
  - `PowderCalibrator(Calibrator)`
  - `LaueCalibrator(Calibrator)`
  - `RotationSeriesCalibrator(Calibrator)`
- [ ] Generalized `InstrumentCalibrator` class that takes a list of one or more Calibrator instances
  - allow for mixed powder/laue
  - rotation series needs to be 'blocking'; _i.e._, only allows that type of calibrat

[2021-03-24 18:19] psavery commented on #188
I don't think so. Basically, there is a problem only if some hkls are skipped (other than trailing hkls). Here's an example. For the [single GE example](https://github.com/HEXRD/examples/blob/master/NIST_ruby/single_GE/include/ruby_config.yml), since it has a min structure factor of 0.05, the hkls at indices 3 and 5 and  gets skipped.

If you change the [active hkls to just [5]](https://github.com

[2021-03-29 22:56] joelvbernier commented on #239
Closed with #241 and hexrdgui [#869](https://github.com/HEXRD/hexrdgui/pull/869).

[2021-03-29 22:57] #239 closed

[2021-03-29 23:01] joelvbernier commented on #188
I'll look at this one tomorrow @psavery

[2021-05-06 16:16] joelvbernier opened #261 "Getting "Too many open files" error when trying to load a list of > 1000 tif images in imageseries"
Originally discovered by users at DESY.

When attempting to load an imageseries using the `'image-files'` adapter for a long list of image files (this case was 3600), getting
```"Too many open files: '../ruby2_1021.tif"``` (_e.g._, at the 1022nd file).  The platform was Linux.  It appears that this is OS related, as there is a limit to the number of open files allowed (_e.g._, a soft limit of 1024

[2021-05-06 17:02] #261 closed

[2021-05-06 17:03] joelvbernier commented on #261
Thanks @psavery -- @donald-e-boyce looks like this fix works.

[2021-05-06 17:17] joelvbernier opened #263 "Wrong frame order in imageseries when using glob strings with the 'image-files' adapter"
This is a sneaky one...

A user at DESY (thanks Anatoly!) reported a case where a list of tif frames was being loaded in the incorrect order in the `imageseries` (test data attached).  Long story short, the cause is due to the [non-determinate nature](https://discuss.python.org/t/a-code-glitch-may-have-caused-errors-in-more-than-100-published-studies/2583) of `glob` across different filesystems.

[2021-05-27 17:26] jj-umn opened #271 "Initializing hexrd.material.Material instance with a CIF material_file"
Should I be able to init a Material with a CIF downloaded from either http://www.crystallography.net/ or https://materialsproject.org/ ?

Is there an example CIF file that works with  hexrd.material.Material?

[2021-05-27 18:47] psavery opened #273 "KeyError in CalcXRFormFactor"
On Linux, at least, for this attached [example.zip](https://github.com/HEXRD/hexrd/files/6556066/example.zip), if I run
`hexrd find-orientations mruby_config.yml`, I get a `KeyError` (attached below).

It looks like this is being caused by the `charge` variable being bytes instead of a string.
The check is essentially doing this:

[code]

At least on my system, `b'0' == '0'` returns `False`.

I gu

[2021-05-27 19:42] jj-umn opened #274 "hexrd/unitcell.py UnboundLocalError: local variable 'om' referenced before assignment line: 447"
/Users/jj/miniconda3/envs/__hexrd@0.8.4/lib/python3.8/site-packages/hexrd/material.py:493: UserWarning: Debye-Waller factors not present.                 setting to same values for all atoms.
  warn('Debye-Waller factors not present. \
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Users/jj/miniconda3/envs/__hexrd@0.8.4/lib/python3.8/site-packages/hexrd/material.

[2021-05-27 20:14] joelvbernier commented on #274
Updating to the latest conda package should fix this.  Seems like you are on an older version?

[2021-05-27 20:20] joelvbernier commented on #273
This is on Ubutnu @psavery ?

[2021-05-27 20:34] psavery commented on #273
That's right.

[2021-05-27 20:47] joelvbernier commented on #274
@saransh13 -- can you take a look at this?

[2021-05-27 20:50] joelvbernier commented on #274
@jj-umn -- can you attach the CIF file you are trying to import here?

[2021-05-27 22:07] jj-umn commented on #274
File downloaded from:   https://materialsproject.org/materials/mp-46/

[code]

[2021-05-27 22:08] saransh13 commented on #274
Ok I think I know where the error is coming from. There is an. uninitialized matrix specific to the point group `c1`. I'll push a fix to this soon.
@jj-umn I think the cif file has Ti as space group 1 most likely. I don't know if that was intentional.

[2021-05-27 22:24] jj-umn commented on #274
@saransh13   **_symmetry_space_group_name_H-M   'P 1'**  was a field in the CIF file.
Does **H-M   'P 1'** then imply sgnum=1 and does Material set the sgnum from the CIF file?

I'm new to this field, so I confess to having no idea as to the expected space group for a material.
Perhaps I was supposed to set some value in  https://materialsproject.org/materials/mp-46/

[2021-05-27 22:50] jj-umn commented on #274
@saransh13   If I download the json file from  https://materialsproject.org/materials/mp-46/
There is a spacegroup included:
"spacegroup": {"symprec": 0.1, "source": "spglib", "symbol": "P6_3/mmc", "number": 194, "point_group": "6/mmm", "crystal_system": "hexagonal", "hall": "-P 6c 2c"},

Are their CIF files not useful for a hexrd Material?

[2021-05-27 23:06] joelvbernier commented on #274
CIF is a pretty sloppy format, so it depends on the format and the source.  There are lots of equivalent options.  We can add a simple HCP metal (say Ti) to the default materials as a template in the meantime.  Looks like @saransh13 will push a fix for your example ASAP.  Thanks for raising the issue!

[2021-05-27 23:09] saransh13 commented on #274
@jj-umn Yes, H-M P1 is space group 1 in hermann mauguin notation. Ti crystal is space group 194, which is correct in the json file. You should use the symmetrized one from the list of the CIF files. That one has the correct symmetry groups.

![Screen Shot 2021-05-27 at 4 05 29 PM](https://user-images.githubusercontent.com/15834451/119907549-6084f500-bf05-11eb-844d-83587e674106.png)

The error you

[2021-05-27 23:09] joelvbernier commented on #271
Sounds like your issue was bug related (or maybe more specifically catching a specific case), but I will upload some example CIF files to the database.  As far as what you are current trying to do, do you just need an HCP alpha Ti material?  If so, I can attach one here in hdf5 format so you can continue what you are working on.

[2021-05-27 23:18] saransh13 commented on #274
PR #276 should fix it. Tested it with the CIF file posted above.

[2021-05-27 23:49] jj-umn commented on #274
Thanks for the quick response and for the patience in explaining to a novice.

[2021-05-27 23:59] #274 closed

[2021-05-28 00:19] joelvbernier commented on #274
For your reference, I have attached an hdf5 archive with generic alpha Titanium in it (HCP).
[alpha-Ti_material.h5.zip](https://github.com/HEXRD/hexrd/files/6557377/alpha-Ti_material.h5.zip)

[2021-05-28 02:36] joelvbernier commented on #271
looks like the specific issue here was addressed in #274 and closed by PR #276

[2021-05-28 02:36] #271 closed

[2021-05-28 02:39] joelvbernier commented on #188
I think I have a solution for this; just needs testing.

[2021-05-30 15:53] darrencpagan opened #278 "Getting Developer Mode Running"
After installing hexrd following the instructions in the README, I got the error:

[code]

Looked online and found its and issue with the numpy installation, the command
[code]
got things running.

[2021-06-01 18:05] jackshigz opened #279 "scikit-learn DBSCAN memory usage being too huge"
I am running hexrd find-orientations on a 96 GB RAM tower, but the script got killed during "using euclidean DBSCAN" because it was taking too much memory resources. Below is a stack overflow link referring to this problem:
https://stackoverflow.com/questions/16381577/scikit-learn-dbscan-memory-usage

I believe that this is due to issue with scikit-learn DBSCAN that is requiring such large amount

[2021-06-02 20:12] joelvbernier commented on #279
In general, if the memory in dbscan is an issue, the thresholds used for indexing are probably allowing too many orientations through.  We have played in the past with parallel implementations of dbscan, but with proper parameter choices it shouldn't be an issue for *most* cases.  Can I have a more detailed description of the indexing problem you are trying to run?

[2021-06-02 20:13] joelvbernier commented on #279
We probably need more checks added to prevent too large a problem for this version of dbscan as well...

[2021-06-02 20:22] joelvbernier commented on #278
I would suggest not using `pip` packages in general, as there have been segfault issues with its NumPy recently (at least on Mac).  The `conda` packages seem more stable w.r.t. interoperability.

If you follow the instructions [here](https://github.com/HEXRD/hexrd#conda), it installs all of the package dependencies from `conda`, and only uses `pip` (using the `--no-build-isolation --no-deps -U -e`

[2021-06-02 21:33] darrencpagan commented on #278
I followed the instructions you linked to when I ran into the issue,

[2021-06-03 05:30] joelvbernier commented on #278
@psavery -- can you take a look at this?

[2021-06-03 15:25] psavery commented on #217
@saransh13 Did this get fixed by #218?

[2021-06-03 17:20] georgejoe018 opened #281 "Reading multiple .h5 files but only one detector is available."
I am using a linux installed version of HEXRD 0.8 and am not able to read multiple .h5 files. I can upload one file, read the file, and look at half of the detector data but not multiple files at once. I am also limited to only selecting "detector 1" instead of being able to select multiple detectors to create two detector graphs. The error I get when I try to read two files at once is as follows:

[2021-06-03 18:14] saransh13 commented on #217
Yep, I believe so. We can close the issue.

On Thu, Jun 3, 2021 at 8:26 AM Patrick Avery ***@***.***>
wrote:

[2021-06-04 17:00] jackshigz commented on #279
I am suspecting a parameter issue.
Below is the find-orientation log
![image](https://user-images.githubusercontent.com/28308772/120837166-634e9e00-c534-11eb-917e-d012320c1c88.png)

I have run the script with different threshold values ranging from 50 to 0.01, but the script still finds 145965913 orientations. Which seems to be too many.

[2021-06-04 19:44] kenygren opened #283 "configuration yaml not saving for dexelas in 0.8.6"
@joelvbernier When saving the configuration yaml, the dexela values are not populated - instead a generic ge yaml is generated. I do not know in which version this started but Kate suggests it may be related to issues that users are having with calibrations.

[2021-06-05 19:21] joelvbernier commented on #279
Yes, 100000,000 orientations are far too many for dbscan to efficiently handle (at least this implementation). there are some options for parallel DB scan, but I suspect the problem is arising more from your choice of parameters in the search.  For volumes with more than 1000 grains, a direct search on orientation space would probably produce fewer orientations to cluster by at least an order of m

[2021-06-08 18:55] joelvbernier commented on #283
I have not been able to replicate this behavior -- can you provide the exact steps and versions of `hexrdgui` and `hexrd` that you are seeing this?

[2021-06-09 13:43] darrencpagan opened #284 "threshold in instrument.extract_polar_maps no longer functions"
The threshold specified in the experiment config file

[code]

no longer does anything. The variable was traced to the threshold input in instrument.extract_polar_maps which no longer is used. This variable should be removed from the config file.

[2021-06-09 17:17] joelvbernier commented on #284
@psavery did this get clobbered?

[2021-06-09 17:20] joelvbernier commented on #284
@darrencpagan -- that threshold is getting applied here:
https://github.com/HEXRD/hexrd/blob/ab052ce700653a88669538bb8a2538ae0140752f/hexrd/instrument.py#L3695-L3699

[2021-06-09 17:21] joelvbernier commented on #283
Any updates on this @kenygren?

[2021-06-09 17:48] kenygren commented on #283
Cannot reproduce it at the moment so we can close the issue.

Kelly Elizabeth Nygren, Ph.D.

Cornell High Energy Synchrotron Source

Cornell University

________________________________
From: Joel Bernier ***@***.***>
Sent: Wednesday, June 9, 2021 1:21 PM
To: HEXRD/hexrd ***@***.***>
Cc: Kelly Elizabeth Nygren ***@***.***>; Mention ***@***.***>
Subject: Re: [HEXRD/hexrd] configuration yaml not sav

[2021-06-09 17:49] joelvbernier commented on #281
@georgejoe018 -- I need a little clarification here.  Are you saying that the detector (singular) has more than one image file representing a single frame?  We load HDF5 images for our 2-detector (or 8, if we split them into 2x2 subpanels) dexela instrument at CHESS without issue.

[2021-06-09 19:45] georgejoe018 commented on #281
@joelvbernier -- When I load in a set of .h5 files, they come in pairs. For example, there could be a ff1.h5 and a ff2.h5 for a sample. They are supposed to be the 2-detector files where the first file is from one detector and the second file is from the second detector. The issue is that both files cannot be loaded into separate detectors but are both attributed to detector 1 instead of being ass

[2021-06-09 22:58] joelvbernier commented on #284
Closing this, as it seem that it is just a matter of looking at a version of hexrd prior to PR #227

[2021-06-09 22:58] #284 closed

[2021-06-14 14:55] psavery commented on #283
Closing. Please re-open if the issue is encountered again.

[2021-06-14 14:55] #283 closed

[2021-06-15 01:20] psavery commented on #281
@georgejoe018 In the left panel of the GUI, click on "Instrument Calibration" and "Form View". You can see a "Detector Parameters" section in there where you can add, remove, or rename detectors. Make sure there are two detectors in the drop-down menu. You can add a detector with the "+" sign.
![Screenshot from 2021-06-14 20-14-13](https://user-images.githubusercontent.com/9558430/121978150-36c52e

[2021-06-15 19:59] joelvbernier commented on #281
In general @georgejoe018 you should _always_ start a session with the proper instrument config, which sets the mater table of detectors.  Then when loading images, it will either auto-associate (if the detector names are somewhere in the image filenames) or you can manually associate as @psavery shows above.  I am sorry if that was not clear.  We are populating the examples repo with more and more

[2021-06-15 19:59] #281 closed

[2021-06-15 20:00] joelvbernier commented on #273
@psavery and @saransh13 -- did we fix this?

[2021-06-15 20:01] #217 closed

[2021-06-15 21:08] saransh13 commented on #273
Ok. I think the `charge` variable is byte because of HDF5 I/O. It was easier to write a vector of bytes in the file. Do you know how to write a vector of strings?
Alternatively, I can write them as integers and then append the `+` sign later.

[2021-06-15 22:16] joelvbernier commented on #273
Can't we just modify the conditional to
[code]

[2021-06-16 02:16] psavery commented on #273
@saransh13 That change does indeed fix it. [See my comment on that branch](https://github.com/HEXRD/hexrd/commit/a9a42445d05f7b56d846b312ea5c1e8fd59dd74a#r52215516).

[2021-06-16 14:39] darrencpagan opened #288 "Find-orientations depreciation warning"
We are currently receiving this numba depreciation warning when using find-orientations with hexrd 0.8.5. We are currently using a list of thresholds in the find-orientations.threshold config option.
[code]

[2021-06-22 22:13] georgejoe018 opened #291 ""RuntimeError" with "0 reflections""
I am trying to run a grain fit using the HEXRDGUI and run through an indexing beforehand. I am setting a threshold and have calibrated the overlays. When I go to run a grain fit after indexing, there is another window that pops up about setting specific step size. I press okay for that window with the default settings. After running for some time, an error pops up:

multiprocessing.pool.RemoteTrac

[2021-06-24 05:36] joelvbernier commented on #291
Typically this occurs if the omega (rotations) specifications on your imageseries are input incorrectly (_e.g._, too small an interval, like (0, 1) degrees, which, dependingon the space group, number of hkls selected, and orientaton could have 0 reflections).  Can you confirm that your imageseries have the proper omega metadata?

[2021-06-24 05:44] joelvbernier commented on #288
Thanks @darrencpagan -- I'll look into strategies for replacing the offending code before it causes problems.

[2021-06-24 05:48] joelvbernier commented on #279
Happy to help further with this if you attach an archive with you imageseries, material, instrument, and config file, @jackshigz.

[2021-06-24 05:52] joelvbernier commented on #278
I am not having an issues on Mac, Windows, or Linux setting up dev mode by doing
### Mac/Linux
[code]
### Windows
[code]
Do you have steps to recreate the issue on whatever platform is giving you the problem?

[2021-06-24 05:54] joelvbernier commented on #273
Should we get the associated fix merged for this one @psavery?

[2021-06-24 16:59] psavery commented on #273
Well, I've been the only one to run into the issue. But others may run into it in the future. I'd say we can get a fix merged.

[2021-06-24 17:03] psavery commented on #288
@joelvbernier Maybe we just need to make sure the `threshold` argument is a numpy array before setting it [here](https://github.com/HEXRD/hexrd/blob/2b6f1445b25db30ab6007a111d0aa1bdbd023742/hexrd/indexer.py#L259)?

[2021-06-24 20:04] georgejoe018 commented on #291
@joelvbernier I am not totally sure what the proper omega metadata would be for the imageseries. I am working with a created material of Ti7Al. It has a space group of 194 and the lattice parameters are 2.95 A for a and 4.68 A for c. The rest of the inputs are the default settings. The data loaded in has 1445 total frames, zero empty frames, and the omega step is 0.25 starting from 0. When running

[2021-06-28 21:35] darrencpagan opened #294 "Extra output from findorientations.py"
Would it be possible to adjust findorientations.py to have a keyword argument to also output the full quaternion test list (qfib) and the associated completeness values?

This would be useful output for cleaning the misorientation functionality of the grainmap/nf portion of the code?

[2021-06-28 21:47] psavery commented on #294
Hi @darrencpagan.

@joelvbernier can correct me if I'm wrong, but I believe these are returned from the `find_orientations()` function in the `scored_orientations` key as `test_quaternions` (qfib) and `score` (completeness). You can see where those get set [here](https://github.com/HEXRD/hexrd/blob/2b6f1445b25db30ab6007a111d0aa1bdbd023742/hexrd/findorientations.py#L810-L814). That `results` object

[2021-06-28 21:51] darrencpagan commented on #294
@psavery, you are right. I got distracted by results['qbar'] output later in the code. I'll close this.

[2021-06-28 21:51] #294 closed

[2021-06-29 17:45] psavery commented on #273
Upon further inspection, it looks like this problem is caused by h5py making a backwards incompatible change starting in `h5py==3.0.0`. For `h5py<3.0.0`, string datatypes are returned as python `str` types. For `h5py>=3.0.0`, string datatypes are returned as python `bytes` types. Users who use `h5py>=3.0.0` will start running into this issue. See https://github.com/theislab/anndata/issues/442 for

[2021-06-29 18:17] joelvbernier commented on #291
There must be extra frames, since there 1440 frames at 0.25 degrees gives you 360&deg;.  **_Note that the rotation interval cannot exceed 360&deg;_**!  I suspect that this is what is going on with your data.  If you are giving it 1445 frames at 0.25 degree spacing, then you have 5 frames over 360&deg; and to the code it looks like your total rotation range is only 1.25&deg;.  Where was this measur

[2021-06-29 22:20] georgejoe018 commented on #291
@joelvbernier This data was measured at the CHESS facility. I have tried to change the omega degree spacing to equal 360 degrees by changing the step size to 0.2491. This gave the same error. I have looked through the images and have not found any duplicate or empty frames within the images taken. I have also tried adding in 5 empty frames, and I get the error of

hexrd.imageseries.omega.OmegaSeri

[2021-06-30 17:35] #273 closed

[2021-06-30 18:54] #288 closed

[2021-07-07 18:41] #225 closed

[2021-07-23 20:00] joelvbernier commented on #291
Ok -- can you point me to the raw data?  And who was your beamline scientist (I know them all)?  Also, what version of hexrd are you running?

I'll take a close look to see what is going on with your case.

[2021-07-23 20:01] joelvbernier commented on #278
Closing this issue, as I can't recreate any problems with running in developermode (`conda` env linked to repo using `pip`).  Can re-open if a new issue comes up.

[2021-07-23 20:01] #278 closed

[2021-07-23 20:03] joelvbernier commented on #129
This issue has been resolved as of #285 (probably earlier even).

[2021-07-23 20:03] #129 closed

[2021-07-23 20:06] joelvbernier commented on #65
this has been completed.

[2021-07-23 20:06] #65 closed

[2021-07-23 20:08] joelvbernier commented on #16
closed by PR #148 .

[2021-07-23 20:08] #16 closed

[2021-07-23 20:09] joelvbernier commented on #176
This issue -- if still applicable (I don't thik it is) -- should go on hexrdgui.

[2021-07-23 20:09] #176 closed

[2021-07-23 20:11] joelvbernier commented on #167
I'd say this is half done; we still need to feed more information to the `logger` class internally.  The GUI, however, does have a container for the output as of https://github.com/HEXRD/hexrdgui/pull/959

[2021-07-23 20:12] joelvbernier commented on #166
bumping up the priority on this one...

[2021-07-23 20:13] joelvbernier commented on #120
@saransh13 I think this is closed, yeah?

[2021-07-23 20:13] #120 closed

[2021-07-23 20:14] joelvbernier commented on #154
@saransh13 -- I think this is closed as well.  Can you link the relevant PR(s) and close it if so?  Thanks.

[2021-07-23 20:15] joelvbernier commented on #98
@saransh13 -- what about this one?  If it is closed, can you link the relevant PR(s) and close it out?

[2021-07-23 20:20] saransh13 commented on #98
Yeah this was closed a while ago. I’ll link the relevant PR.

On Fri, Jul 23, 2021 at 1:15 PM Joel Bernier ***@***.***>
wrote:

[2021-07-23 22:05] psavery commented on #166
Looks like we might be able to add an argparse argument around [here](https://github.com/HEXRD/hexrd/blob/bf0d30c57c7497f99b8d8402a5261f104fa17e29/hexrd/cli/main.py#L33) like this:
[code]

As per [this documentation](https://docs.python.org/dev/library/argparse.html#action). We'll just need to make sure the right version gets printed out...

[2021-07-26 13:05] cjh1 commented on #166
@psavery @joelvbernier I can take a look at this.

[2021-07-26 13:52] cjh1 opened #299 "We should remove all contents from hexrd.__init__.py"
We are using `hexrd` as a [namespace package](http://peak.telecommunity.com/DevCenter/setuptools#namespace-packages) for hexrd and hexrdgui. This may appear to work in dev but these files will not be installed with a system packaging tool ...

[2021-07-27 18:09] saransh13 commented on #98
Fixed via https://github.com/HEXRD/hexrd/pull/100

[2021-07-27 18:09] #98 closed

[2021-07-28 04:03] joelvbernier commented on #299
Seems ok by me.

[2021-07-29 21:03] georgejoe018 commented on #291
The raw data is located in /nfs/chess/raw/current/id3a/brunson-3139-a. Files with "mn" are where the data is. "mn6-1" is an example of one of the folders where the data is located. It is all the way down into the "ff" directory for any of the numbered folders. The beamline scientist was Katherine or Kate Shanks. I am running this data on version 0.8.4. It's not the newest version, but it was runni

[2021-07-30 19:25] #166 closed

[2021-08-04 02:10] psavery opened #306 "median_iter() has slow performance for higher numbers of chunks"
[Attached is an example](https://github.com/HEXRD/hexrd/files/6928055/median_time_test.zip), for which you need to download the `RUBY_4537.ge` and `RUBY_4538.ge` files from [here](https://drive.google.com/drive/u/0/folders/1CgGzNEFeaB06I-Q3tbB0lf6nVOjN93fr) to run it.

For example, on my computer, I just ran the script and received the following output:
[code]

You can see that that with `nchunks=

[2021-08-06 18:49] #154 closed

[2021-08-09 13:45] donald-e-boyce commented on #306
I'm working on this.

On Tue, Aug 3, 2021 at 10:15 PM Patrick Avery ***@***.***>
wrote:

[2021-08-16 16:24] psavery commented on #306
Hi Don! Here are my timing results for my test data:

Master branch:
[code]

Your branch:
[code]

It looks like it is much faster than it was before, which is great! I don't immediately know why more chunks would be faster.

[2021-08-16 16:47] donald-e-boyce commented on #306
Wow! That,s great.

I added a keyword arg to percentile_iter and median_iter, use_buffer, True by default. In my tests above, I thought I ran it with both True and False, but there was a bug in my test and I didn't. All makes sense now. Here are new results with 50 frames.

    ===== Using 50 frames =====
    stats.median:  8.848058950999999

    stats._toarray:  0.9237148639999972
    np.median:

[2021-09-01 19:28] psavery commented on #306
This was fixed by #309

[2021-09-01 19:28] #306 closed

[2021-09-18 05:38] joelvbernier commented on #291
I'll need more information to figure out what is going wrong -- your error is almost always due to incorrect omega specification.  This is unfortunately not encoded with the raw images, so you'll need to point me to a few things:

1. The wavelength, or equivalently energy you were using
2. Calibration data (CeO2 scans, or multiruby, ideally both)
3. The material description of the phase you are in

[2021-09-18 05:39] joelvbernier commented on #291
PS -- I would've gotten back sooner, but my son had brain surgery in August and I was off for essentially the whole month.

[2021-09-18 05:42] joelvbernier commented on #155
I think this has been resolved.

[2021-09-18 05:42] #155 closed

[2021-09-18 05:43] joelvbernier commented on #299
@cjh1 and @psavery -- I don't think we did anything here yet.  Should we proceed?

[2021-09-20 13:02] cjh1 commented on #299
Yes, we should proceed. Its low risk.

[2021-09-23 00:39] psavery opened #321 "Save/load materials via a "materials" key in the HDF5 file"
In order to facilitate state saving in hexrdgui, it would be better to allow the "materials" to be part of a larger HDF5 file that contains other parts of the state of hexrdgui, including the instrument and other parts.

It would be helpful for us to modify the materials saving/loading so that we can provide the functions an h5py file or group instead of a string. This way, if we have larger `save

[2021-09-23 12:22] cjh1 commented on #321
Is there something in addition to what has been added in #310 that we need?

[2021-09-23 15:20] psavery commented on #321
@cjh1 No I think that will work. We didn't realize it had already been done in #310.

[2021-09-23 18:18] #321 closed

[2021-09-24 07:10] joelvbernier commented on #299
Blanking this causes problems firing up the GUI in develop mode, as I pointed out in #317

[2021-09-24 13:59] cjh1 commented on #299
Resolved by: #322

[2021-09-24 13:59] #299 closed

[2021-09-29 22:08] joelvbernier opened #327 "Save tThWidth attribute on PlaneData object on material"
Currently this attribute is not saved; @saransh13 can you modify material to save this setting along with exclusions?

[2021-10-13 18:29] joelvbernier opened #336 "HDF5-style instrument config currently not compatable with HEDM workflow"
This was an oversight on my part when adding the new HEXRD (really HDF5) instrument configuration I/O format.  Important for doing HEDM with detectors having non-trivial panel buffers.  Thanks to Rachel Lim for finding this one.

[2021-10-13 20:40] #336 closed

[2021-10-14 21:17] joelvbernier opened #339 "Need raw import option for imageseries"
@donald-e-boyce -- I know we've discussed this before, but there is now a more pressing need.

We need a "raw" format adapter for `ImageSeries` that allows users to load image formats not supported by `fabio`.  [ImageJ handles this nicely](https://imagej.nih.gov/ij/docs/menus/file.html#import).  The arguments must at least include:
- pixel dtype
- shape (number of images, rows, cols)
- byte offset

[2021-10-27 17:33] cjh1 opened #350 "Replace any print statements with appropriate logging calls"

[2021-10-29 20:42] joelvbernier commented on #339
Might have to fake it or ask Andrew for a smaller scan, because the one he has is HUUUUUGE.

[2021-11-02 19:56] donald-e-boyce commented on #339
Joel,

I am using ruby data to work through an example. Some questions:

* You say your example is GE saved as int32, blank 8192 header. The
ruby dtype is uint16 and image shape is 2048x2048. So is the data
saved in a GE output file or has it been read and saved as a binary
file of int32?
* And the 8192 header means 8192 bytes?

Don

On Fri, Oct 29, 2021 at 4:42 PM Joel Bernier ***@***.***> wrote:

[2021-11-10 17:36] agshabalin opened #355 "Handling '-1' in H5 files generated by Eiger detector"
Hello,

I'm trying to load 2D images from h5 files produced by Eiger detector. This detector assigns '-1' value to the pixels between the detector pads and the bad pixels. But when I open such h5 files with imageseries the data type is automatically specified as 'uint32' so those negative values become 4294967295. I need them to be 0, ideally without the need for searching&replacing in every image

[2021-11-11 04:36] joelvbernier commented on #355
Yeah, just saw this myself with some Pilatus data.  Working a fix!

[2021-11-11 04:37] joelvbernier commented on #355
interestingly, the Eiger is loaded via Fabio, so I'll check with them.  The 'native' format for images once loaded in the program is `float32`, so we should be able to enforce better behavior with negative pixel values.

[2021-11-12 10:05] agshabalin commented on #355
Yes, fabio also decodes those -1 as  4294967295.

[2021-11-12 20:43] joelvbernier commented on #355
Anatoly:

There is actually a `dtype` option in the `image-files` adapter for `imageseries'.  For a test Pilatus image (tiff in this case), I can get the proper values:

The yaml spec:
[code]
and the result when loading:
[code]
[Archive.zip](https://github.com/HEXRD/hexrd/files/7530313/Archive.zip)

[2021-11-12 20:43] #355 closed

[2021-11-12 20:45] joelvbernier commented on #355
We are working on cleaning up the import formats in the GUI, but this at least will let you load them properly directly using imageseries.

@donald-e-boyce and @bnmajor -- we might need to revisit the options we feed the `image-files` adapter in the GUI...

[2021-11-12 20:50] joelvbernier commented on #339
@donald-e-boyce

Yes, at APS if they sum GE images in software, it gets recast as `int32` from `uint16`; they tack on an empty 8192 byte header for compatibility with some reader software they have.  But in general, users could axe the empty header and we would still want to be able to load (hence why we need to specify the header length in bytes).  The example scans I have access to are enormous,

[2021-11-12 21:00] donald-e-boyce commented on #339
Is that the same as the RUBY_4537 I already have? In any case, I have a
good start and would like to discuss a couple things with you if you have
time soon.

Don

On Fri, Nov 12, 2021 at 3:50 PM Joel Bernier ***@***.***>
wrote:

[2021-11-12 21:48] joelvbernier commented on #339
Yes -- I am happy to make an int32 version for you and upload; I was just going to

1. make a median background (first 120 frames)
2. cast that and RUBY_4537 to `int32`
3. do the subtraction
4. write out binary file with empty 8192 header

That is essentially the APS datatype we are dealing with that `fabio` won't recognize.  Of course, there could be other formats as well, but this particular one

[2021-11-12 22:16] joelvbernier commented on #339
Recall that the "real" ge format that `fabio` recognizes has a 8192-byte header with actual useful metadata in it, including image shape, number of images and pixel dtype.  The "bastardized" get format has an 8192-byte header of all zeros (`fabio` checks for a header starting with some number of zeros in this case...) with a shape of (2048, 2048) and pixel dtype of `uint16`.  The format in questio

[2021-12-02 17:50] saransh13 opened #359 "cif badness"
The HM symbol with `_` in cif file is not accounted for. e.g. space group 186.

[2021-12-17 22:49] joelvbernier commented on #263
I've changed my mind, we should just fix this by calling `sorted` on the returned list.

[2021-12-20 21:17] cjh1 opened #366 "Clean up near field MPI implementation"
It should be using the instrument class ..

[2021-12-22 23:10] #263 closed

[2022-01-03 19:48] #359 closed

[2022-01-07 17:28] joelvbernier opened #376 "Add rotation conversion utilities."
It has become clear that it would be really useful to add utilities for:

1. converting from quaternions to exponential map parameters
2. converting IceNine/HEXOMap quaternions to hexrd convention

[2022-01-07 20:08] #376 closed

[2022-01-11 19:40] psavery commented on #327
We discussed this today. Fixing this will also allow it to be saved in the state of hexrdgui.

[2022-01-11 20:36] saransh13 opened #382 "Spline background method gives flat background"
The `spline` background method is leading to a flat background resulting to inaccurate peak fitting.

[2022-01-12 17:46] #382 closed

[2022-01-12 17:47] joelvbernier commented on #327
Looks like we need to fixe this to do the state save properly @saransh13.

[2022-01-12 17:47] joelvbernier commented on #291
@georgejoe018 -- I'm going to close this since I haven't heard back.  If you are still having issues, we can re-open.

[2022-01-12 17:47] #291 closed

[2022-01-12 17:49] joelvbernier commented on #238
@minety -- the calibration of an instrument from ff-HEDM data can now be performed using the [GUI](https://github.com/hexrd/hexrdgui), along with indexing and grain fitting.

[2022-01-12 17:51] joelvbernier commented on #350
The same as #167

[2022-01-12 17:53] joelvbernier commented on #339
@bnmajor and @donald-e-boyce -- where are with with respect to integrating this with `hexrd` and `hexrdgui`?

[2022-01-12 17:54] joelvbernier commented on #178
I will be adding archiving examples for APS and CHESS to the [examples](https://github.com/hexrd/examples) repo soon.

[2022-01-12 17:55] joelvbernier commented on #188
@psavery: is this still an issue?

[2022-01-12 18:13] psavery commented on #188
Yeah, I don't think the code was fixed

[2022-01-12 18:33] donald-e-boyce commented on #339
This weekend, I can set up an imageseries adapter for the raw imageseries.
It will be somewhat limited relative to the other adapters in there. For
example, it go to an arbitrary frame---it can only go to frame 0 or to the
next frame in sequence. Also, it won't have a save format. And it will need
more development in the future as new users come up with new formats.
Still, it will be useful for lo

[2022-01-12 19:59] bnmajor commented on #339
@joelvbernier - Don shared a script with me that he has working for raw images. I can use this to rough in the GUI portion of things and when the adapter is available I can connect everything.

[2022-01-18 19:37] joelvbernier commented on #339
Merged #388 in hexrd; I think this is what you need :-)

[2022-01-19 07:36] #339 closed

[2022-01-21 22:36] joelvbernier opened #390 "Progress bar for pull_spots"
Would be nice to add a handle to the `pull_spots` loop to update a progress bar.

[2022-01-24 20:27] darrencpagan opened #392 "xrdutil._filter_hkls_eta_ome"
Hi,

Can _filter_hkls_eta_ome be updated to also output the maskAngs list that is generated as part of the filtering process.

Thanks,
Darren

[2022-01-24 23:50] joelvbernier commented on #392
Generally speaking, _methods aren't really many to be called outside the module they're defined in, and changing the call API can be a pain...  I assume you are talking about the eta ranges computed from the `mask` property in the helm config?  Those are available directly from the HEDM config object, _e.g._ for `mask: 5`
[code]

[2022-01-25 00:17] #392 closed

[2022-01-25 19:51] cjh1 commented on #366
@joelvbernier will add some detail.

[2022-02-02 22:18] psavery commented on #390
Maybe the least invasive way would be to pass an optional argument `update_progress`, which is a callback function to update the progress, that accepts an int from 1 - 100 (indicating the current progress).

What do you think @cjh1?

[2022-02-02 22:19] psavery commented on #327
I believe this was fixed in #387.

[2022-02-11 19:00] joelvbernier opened #399 "Strange bug using ProcessPoolExecutor on Mac an Linux"
Was getting a weird error when trying to run a script that used a `ProcessPoolExecutor` with `mp_context='fork'` from `'spawn'` processes.  I tracked down at least one sneaky `'spawn'` to the calculation of `pixel_angles` in `hexrd.instrument`.  The fix, at least to start, is to force context to `'fork'` where supported, and explicitly set the context in all instances of `ProcessPoolExecutor`.

[2022-02-11 19:26] #399 closed

[2022-02-11 19:41] psavery commented on #399
Yeah, currently, Linux defaults to `fork` but Mac and Windows default to `spawn`.

I'm guessing this issue was on Mac? The multiprocessing docs indicate that `spawn` should be used for Mac. If that's the case, I think we should always be able to leave everything to their defaults?

[code]

https://docs.python.org/3/library/multiprocessing.html

[2022-02-12 15:46] #327 closed

[2022-02-23 23:00] saransh13 opened #410 "Material class accepts arbitrarily large unit cell"
Sometimes the users enter very large lattice parameters by mistake. This crashes the GUI. A simple fix could be to throw up a warning when material lattice parameter is bigger than 50 A.

[2022-03-01 18:16] joelvbernier opened #411 "Add optional text labels to Laue overlays"
This is actually a long overdue feature.  Wee need a toggle on the laue overlay manager to add [hkl] labels to the spots displayed.  @psavery, below is some example code where I was adding the labels to the cartesian plot where `fit_hkl` is just the (3, n) array of signed [hkl] from the Laue simulation.  The associated coordinates for each plot type are the same as the plots, and the `delta` is an

[2022-03-01 18:16] joelvbernier commented on #411
Adding to this: can we also add a selector to show _either_ hkl or the associated spot energy?

[2022-03-01 20:48] psavery commented on #411
Sure!

[2022-03-03 18:24] #411 closed

[2022-03-03 18:26] #410 closed

[2022-03-25 17:27] joelvbernier opened #416 "Modify η-ω map generation to recognize discontinuous ω ranges ("wedges")"
@cjh1 and @donald-e-boyce:

I've been putting this one off for a while, but it is time to finally get it implemented.  Here is the issue: occasionally we must break up the ω range into discontinuous wedges because of ancillary equipment that occludes the beam for some range or otherwise limits rotation.  Due to the current fairly optimized way that the η-ω maps are generated (cf. [instrument.Gener

[2022-03-25 17:35] joelvbernier opened #417 "Add multiple beam objects to instrument."
This is a fairly involved one, but there is strong motivation to get this implemented to

1. handle the case of multi-energy sources, _e.g._, an X-ray tube
2. handle the case of different incoming beam directions

The strategy would be to

1. modify the instrument config spec and `__init__` method to accept multiple beam blocks analogously to how detectors are handled; and
2. enable additional loo

[2022-03-25 18:06] joelvbernier commented on #416
Here's a thought: we can make the `omegas_array` variable have shape `(nframes, 3)` where the last column is an integer frame index that is -1 for omega bins with no frame.  We can special case the map generation if it detects a 3-column omegas array...

I made a start at this approach [omegas_array](https://github.com/HEXRD/hexrd/blob/eac927296d367f9f3abd5f33e02a01249953e618/hexrd/instrument.py#L

[2022-03-25 18:46] joelvbernier commented on #416
Actually, I think the above is a bit overcomplicated, aside from generating the contiguous `omegas_array`; can probably hand an optional mask to the histogramming further on.

[2022-03-25 18:59] joelvbernier commented on #416
Ah yes, it is actually [this code](https://github.com/HEXRD/hexrd/blob/eac927296d367f9f3abd5f33e02a01249953e618/hexrd/instrument.py#L3681-L3700), that is aggregating the contributions from all the detectors, that we must modify to insert the missing omega rows.  Will have to move this step last after the omega munging.

[2022-03-28 19:02] joelvbernier opened #419 "Add ROI attribute to detector class to address multi-element detector analysis."
By enabling an ROI to be specified as a property on each detector class, we can both avoid splitting data for multi-element detectors (_e.g._, Pilatus), as well as enable the handling of novel acquisition schemes.  in this implementation, I think it is easiest to

1. Enable `None` and/or `'all'` as `panel` specifier in the `image_series` block of the configuration; this would require that we addre

[2022-03-30 19:39] #419 closed

[2022-04-06 18:49] #279 closed

[2022-04-06 18:51] joelvbernier commented on #43
@bnmajor and @cjh1 -- looks like we already have an issue for this.  Given that we are going to at the very least going to need a Gauss-Laplace filter for nf-HEDM, I propose that we actually add the filter as a standard option to `hexrd.imageseries.process`.  Thoughts @donald-e-boyce?

[2022-04-06 19:00] joelvbernier opened #427 "Refactor HEDM functionality"
We would like to create a `HEDM` package to house all HEDM-specific packages/modules.  The most logical place for this the root level of the repo.

- [ ] Collect the ff-HEDM workflow modules
  - the `config` pakckage, as it is ff-HEDM specific at the moment
  - the `cli` package (ditto)
  - `findorientations.py`
  - `fitgrains.py`
  - `hexrd.xrdutil.nf-hedm`
  - `hexrd.grainmap`
- [ ] Generalize t

[2022-04-06 19:04] joelvbernier commented on #240
Ok @psavery -- let's use this issue and the associate project to bring this to completion.  Includes PR #404.

[2022-04-20 21:30] joelvbernier opened #432 "Tolerance too tight for catching all (near) binary rotations."
https://github.com/HEXRD/hexrd/blob/76b3dfc476cee654704b6e3afe57a113a1fe97e0/hexrd/rotations.py#L798

An issue with TARDIS highlighted this.  Was failing to flag image plate 4's tilt as a binary rotation.  Relaxing back to `10*epsf` solves the issue.  I an cautious about going all the way back to ~1.e-8, as that seemed too loose.  @donald-e-boyce: thoughts on this?

[2022-04-20 21:40] #432 closed

[2022-04-22 20:03] #43 closed

[2022-04-28 17:35] joelvbernier opened #435 "Change default 'B' or 'U' values"
In `materials`, it seems the default values for B and U are very small; should probably default to a more appropriate RT value _e.g._,  B=0.5/U=0.00633.  Using really small values can affect structure factors.

[2022-05-12 21:55] joelvbernier opened #441 "Broken functionality in `instrument.HEDMInstrument.extract_line_positions()`"
This merge of `fitting-fixes-jvb` broke the ability to use `instrument.HEDMInstrument.extract_line_positions()` with array-like input for the plane_data arg.  It may also have broken some of the other options specified by the kwargs, mainly the case where `do_fitting=False`.

[2022-05-12 22:13] joelvbernier commented on #441
I am attaching a test script to run `extract_line_positions` interactively that doesn't even run for a case that I thought mirrors how the GUI is using it for powder calibration.
[extract_line_positions_test.zip](https://github.com/HEXRD/hexrd/files/8682849/extract_line_positions_test.zip)

[2022-05-13 23:48] joelvbernier commented on #441
updated test problem in the conversation on PR #440

[2022-05-16 22:30] psavery commented on #441
Hi @joelvbernier

This is the error I get when I try to run it with `spawn` multiprocessing:
[code]

If I change the last line in the file to this:
[code]

That seems to fix the issue.

The problem is that when we are using spawn multiprocessing, the main script file gets imported by each process. If importing the script, however, means the program will run again, then it enters an infinite recurs

[2022-05-17 17:01] #441 closed

[2022-06-22 15:22] TimothyJHLong opened #451 "Multiprocessing RuntimeError in "calibrate_from_powder""
When running the script "calibrate_from_powder.py" in the current release of HEXRD, I encounter the following error:

[code]

The full traceback is fairly long, so I've attached it in the file "Multiprocessing_RuntimeError.docx".  I also attached the output of `conda list` for the current env in the second attached file.

I've encountered this error on both Windows 10 and macOS Monterey Version 12

[2022-06-22 19:47] #451 closed

[2022-07-12 10:37] psavery commented on #451
@TimothyJHLong Yes that's right. If spawn multiprocessing is used (which is the default on Windows and for newer versions of Python on Mac), then a script has to be protected via:
[code]

Because when the multiprocessing part of the code is encountered, new processes will be generated that import the main script, and if there isn't a `freeze_support()` guard, this will result in an infinite recurs

[2022-07-26 18:31] joelvbernier opened #452 "Change hkl indexing behavior in seeded search (far-field HEDM)"
We used to live dangerously and have the `active_hkls` specified the indexing (`find-oreintations`) CLI workflow interpreted as direct indices into the `planeData.hkls` as generated.  This was bad for a few reasons:
1. The material is generated on load subject to minimum d-spacing and structure factor cutoff parameters, which can lead to non-sequential exclusions.
2. Non-sequential exclusions can

[2022-07-26 18:51] joelvbernier opened #453 "Add support for non-sequntial grain ids"
FOr generality, we should not for the grain ids to be sequential, which is tacitly enforced now.  This will enable editing of indexing/fitting results without breaking the workflow.  Also could be very useful for stitching, removing the need to renumber (@darrencpagan).

Required for https://github.com/HEXRD/hexrdgui/pull/1259

[2022-08-09 04:08] joelvbernier opened #457 "For ROI mode, ImageSeries with a specifed 'panel' metadata item cause and exception"
This is a tricky one...

[2022-08-18 17:23] joelvbernier opened #463 "Add X-Ray source distance attribute to instrument"
We need a place for this attribute for instruments that utilize divergent sources that are nearby.
- [x] set default to `None`
- [x] add property to instrument class; set on detectors
- [x] add property on detectors

[2022-08-18 17:26] joelvbernier opened #464 "Implement pinhole distortion in Calibrator classes"
We need to implement the sample offset correction for divergent pinhole cameras in the Calibrator classes with a unit test.
- [ ] Add to `PowderCalibrator`
- [ ] Add to 'LaueCalibrator`
- [ ] Provide API for implementation in `hexrdgui`

[2022-08-30 23:11] #463 closed

[2022-08-30 23:11] #464 closed

[2022-08-30 23:12] #188 closed

[2022-08-30 23:12] #452 closed

[2022-10-05 18:18] saransh13 opened #480 "RietveldHEDM.py was failing during build"
Syntax error in `line 92` of `RietveldHEDM.py`. Missing colon.

[2022-10-05 19:36] #480 closed

[2022-11-01 20:16] joelvbernier commented on #435
thoughts @saransh13?

[2022-11-02 00:08] saransh13 commented on #435
Sure, I can change the default values. Will submit a PR soon.

[2022-11-16 17:20] #435 closed

[2022-11-28 20:15] saransh13 opened #487 "Uniform sampling of orientation space for given point group"
Uniformly sample the fundamental zone of any point group with a given sampling step size.

[2022-11-28 20:38] donald-e-boyce commented on #487
What exactly do you mean by this?

It's straightforward to generate a random sample on a uniform distribution on orientation space. Then by putting it into the fundamental region of that point group, you can get a random sample of uniform distribution on that point group.

However, if you are looking for some kind of regular grid with equal spacing in each direction, then I'm not sure that is poss

[2022-11-28 21:08] saransh13 commented on #487
By uniform, I meant that the number of points sampled for a given volume in orientation space is constant i.e. constant sampling density. I was going to implement some of my grad school work for hexrd [S. Singh and M. De Graef, "Orientation sampling for dictionary-based diffraction pattern indexing methods". MSMSE 24, 085013 (2016)](https://doi.org/10.1088/0965-0393/24/8/085013)

The implementatio